.introducao-bg {
  background-color: #000000;
  color: #ffffff;
  box-shadow: inset 0 -120px #ffffff;
}

.introducao img {
  height: 100%;
  object-fit: cover;
  border-radius: 4px;
}

/* Códido sem a sombra e possivelmente a img vai ficar na frente do proxima tag.
Ativando este código vai ter que colocar uma class na div
.introducao-imagem {
  margin-bottom: -120px;
} */

.introducao {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0px 40px;
  box-sizing: border-box;
  max-width: 1200px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}

/* Esse seria o código sem a inclusão da div entre o h1/a na introdução.

.introducao p,
a {
  grid-column: 1;
}

.introducao img {
  grid-column: 2;
  grid-row: 1/3;
} */

.introducao-conteudo {
  align-self: end;
  padding-bottom: 200px;
}

.introducao h1 {
  font-size: 64px;
  margin-bottom: 32px;
  line-height: 1.125;
  font-family: "poppins";
  font-weight: 600;
}

.introducao h1 span {
  color: #ffbb00;
}
.introducao p {
  margin-bottom: 20px;
  font-size: 24px;
  line-height: 1.5;
  color: #b2b2b2;
  font-family: "roboto";
  font-weight: 400;
}
.introducao a {
  display: inline-block;
  padding: 16px 32px;
  background: linear-gradient(#ffbb00, #f2a50c);
  border-radius: 4px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  text-transform: uppercase;
  color: #332200;
  font-size: 18px;
  line-height: 1.33;
  font-family: "poppins";
  font-weight: 600;
}

.introducao a:hover {
  background: linear-gradient(#ffb60d, #e59317);
}

@media (max-width: 600px) {
  .introducao a {
    padding: 12px 16px;
    font-size: 16px;
  }
}

@media (max-width: 1200px) {
  .introducao h1 {
    font-size: 48px;
  }
  .introducao p {
    font-size: 18px;
  }
}

@media (max-width: 800px) {
  .introducao-bg {
    background: #111;
    padding-top: 40px;
    box-shadow: inset 0 -60px #ffffff;
  }
  .introducao {
    grid-template-columns: 1fr;
    gap: 32px;
  }
  .introducao h1 {
    font-size: 32px;
    margin-bottom: 16px;
  }
  .introducao-conteudo {
    padding-bottom: 0px;
  }

  .introducao img {
    height: 300px;
    width: 100%;
  }
}
